#!/usr/bin/env bash

function activate_project() {
  ENV_ACTIVATE=.venv/bin/activate
  if [ -e $ENV_ACTIVATE ]; then
    source_env "$ENV_ACTIVATE"
    return
  fi
  if ! command -v uv >/dev/null 2>&1; then
    echo "Hint: Install uv (https://github.com/astral-sh/uv)"
    exit 1
  else
    echo "Installing full venv to $ENV_ACTIVATE, use CTRL-C to give up."
  fi
  if [ -f justfile ]; then
    if command -v just >/dev/null 2>&1; then
      just install && source_env "$ENV_ACTIVATE"
      echo
    else
      echo "Command runner just is not installed. Falling back to uv."
      echo "Hint: Install just (https://github.com/casey/just)"
      uv sync --all-extras --all-packages && source_env "$ENV_ACTIVATE"
    fi
  else
    uv sync --all-extras --all-packages && source_env "$ENV_ACTIVATE"
  fi
}

function install_pre_commit() {
  if [ -f .pre-commit-config.yaml ] &&
    type -P pre-commit &>/dev/null &&
    git rev-parse --is-inside-work-tree &>/dev/null; then
    if ! [ -f "$(git rev-parse --show-toplevel)/.git/hooks/pre-commit" ]; then
      echo "Installing pre-commit hook to Git repo."
      pre-commit install
    fi
  fi
}

activate_project
install_pre_commit
source_env .env
